:root {
    /* Primary */
    /* Text */
    --clr-primary-blue: hsl(238, 29%, 16%);
    --clr-primary-soft-red: hsl(14, 88%, 65%);

    /* Gradient */
    /* Background gradient: */
    --clr-primary-soft-violet: hsl(273, 75%, 66%);
    --clr-primary-soft-blue: hsl(240, 73%, 65%);

    /* Neutral */
    /* Text */
    --clr-neutral-very-dark-blue: hsl(237, 12%, 33%);
    --clr-neutral-dark-blue: hsl(240, 6%, 50%);

    /* Dividers */
    --clr-divider-blue: hsl(240, 5%, 91%);

    /* Font */
    --fs-body: 0.75rem;
    --ff-base: 'Kumbh Sans', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
}

body {
    min-height: 100vh;
    background: linear-gradient(var(--clr-primary-soft-violet), var(--clr-primary-soft-blue));
    font-size: var(--fs-body);
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    display: grid;
    place-content: center;
    padding: 9rem 1.5rem;
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #fff;
    border-radius: 16px;
    width: 330px;
}

.product-img {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
    background: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
}

.img-1 {
    position: absolute;
    top: -105px;
    left: 50px;
    min-width: 230px;
    width: 230px;
}

.img-2 {
    display: none;
}

@media (min-width: 800px) {
    main {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        min-width: 925px;
        min-height: 510px;
    }

    .product-img {
        background: url(images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: 200%;
        background-position: bottom -7rem left -33rem;
        
        width: 450px;
    }

    .overflow-wrap {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .img-2 {
        display: block;
        position: relative;
        width: 500px;
        top: 5rem;
        left: -18%;
    }

    .img-1 {
        display: none;
    }

    img.box {
        position: absolute;
        min-width: unset;
        width: 10rem;
        top: 13.75rem;
        left: -5rem;
    }
}

.faq {
    padding: 0 1.5rem 3rem 1.5rem;
}

.faq > h1 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.question {
    border-bottom: 1px solid var(--clr-divider-blue);
    padding: 1rem 0;
}

.accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: var(--clr-neutral-very-dark-blue);
    cursor: pointer;
    border: none;
    padding: 0;
    width: 100%;
    text-align: left;
    font-size: 0.8rem;
}

.accordion:hover {
    color: var(--clr-primary-soft-red);
}

@media (min-width: 800px) {
    .faq {
        padding: 4rem 5rem 3rem 0;
    }

    .faq > h1 {
        text-align: left;
    }
}

.open {
    transform: rotate(180deg);
}

.panel {
    padding-top: 0.5rem;
    background-color: white;
    display: none;
    overflow: hidden;
    color: var(--clr-neutral-dark-blue);
}

.active {
    font-weight: var(--fw-bold);
}